body {
  background-color: #000;
}

.sorry-img {
  margin-left: 5.625rem;
  width: 37.5rem;
}

.logo {
  width: 10rem;
}

.message {
  position: absolute;
  width: 55.875rem;
  height: 9.375rem;
  left: 885px;
  top: 433px;

  font-family: "Times New Roman";
  font-style: normal;
  font-weight: bold;
  font-size: 3.625rem;
  line-height: 4.188rem;

  color: #ffffff;
}

.background {
  width: 50rem;
  height: 43.75rem;
  background: #000;
  opacity: 0.1;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(-108.2deg);
}

.connect {
  position: absolute;
  width: 54.188rem;
  height: 3.25rem;
  left: 125px;
  top: 870px;

  font-family: "Times New Roman";
  font-style: normal;
  font-weight: normal;
  font-size: 2.188rem;
  line-height: 2.5rem;

  color: #ffffff;
}

.text {
  font-weight: normal;
  font-size: 3rem;
  line-height: 3.563rem;
  color: #cecece;
}

.email {
  font-size: 2.625rem;
}

.credit {
  color: #bfbfbf;
}
